<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="field col mb-3">
    <%= form.label :first_name, class:"form-label", required:"true" %>
    <%= form.text_field :first_name, class:"form-control", required:true %>
  </div>

  <div class="field col mb-3">
    <%= form.label :last_name, class:"form-label"%>
    <%= form.text_field :last_name, class:"form-control", required:true %>
  </div>
  </div>

  <div class="field col mb-3">
    <%= form.label :email, class:"form-label" %>
    <%= form.text_field :email ,class:"form-control", required:true %>
  </div>

  <div class="field col mb-3">
    <%= form.label :phone, class:"form-label" %>
    <%= form.text_field :phone, class:"form-control", required:true %>
  </div>


  <div class="field col mb-3">
    <%= form.label :twitter, class:"form-label"%>
    <%= form.text_field :twitter, class:"form-control", required:true%>
  </div>

  
  <div class="field col mb-3">
    <%= form.number_field :user_id, id: :friend_user_id, class:"form-control", type: :hidden ,value:current_user.id  , required:true%>
  </div>


  <div class="actions text-center mt-5">
    <%= form.submit class:"btn btn-outline-success" %>
  </div>
<% end %>
