<div class="p-5 mb-5 bg-light border rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"> 
      <%= @friend.first_name %> 
      <%= @friend.last_name %> 
    </h1>
    
    <p class="col-md-8 fs-4">
      <strong>Email:</strong>
      <%= @friend.email %>
    </p>

    <p class="col-md-8 fs-4">
      <strong>Phone:</strong>
      <%= @friend.phone %>
    </p>
    
    <p class="col-md-8 fs-4">
      <strong>Twitter:</strong>
      <%= @friend.twitter %>
    </p>

    <%= link_to 'Back', friends_path, class: "btn btn-outline-primary btn-sm m-1" %>
    <% if current_user == @friend.user %>
      <%= link_to 'Edit', edit_friend_path(@friend),class:"btn btn-outline-primary btn-sm m-1"%>
      <%= link_to 'Remove' , @friend , method: :delete , data: {confirm:"Are you sure you want delete this friend "}  ,class:"btn btn-outline-danger btn-sm m-1"%>

    <% end %>
  </div>
</div>




