<!DOCTYPE html>
<html>
  <head>
    <title>Friends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container px-5 pb-5">
      <%= render :partial => 'layouts/header'  %>
      <main class="flex-shrink-0">
        <%= render "layouts/notice" if notice %>
        <%# <%= render "layouts/alert" if alert %1> %>
        <%= yield %>
      </main>
    </div>
    <%= render :partial => 'layouts/footer'  %>
</body>
</html>
